# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/

# Database
db.sqlite3

# Environment Variables
.env

# IDE
.vscode/
.idea/

# Static & Media
media/
staticfiles/

# OS Files
.DS_Store
Thumbs.db
